.signature-pad-form {
    margin: 0 auto;
    touch-action:none; 
}


.signature-pad {
    cursor: 1 26, pointer;
    border-radius: 4px;
}

@media (pointer: coarse) {
    body{
        overflow: hidden;
    }
}